footer{
    &.footer-main{
        padding: 2.8em 0 1.2em 0;
        color: $color__white;
        background-color: $color__black;

        .footer-content{
            padding-bottom: 2.8em;

            a{
                color: $color__white;

                &:hover{
                    color: $color__accent;
                }
            }

            p{
                color: inherit;
                padding-top: 0.8em;
            }

            p,a, span, i{
                opacity: 0.8;

                &:hover{
                    opacity: 100%;
                }
            }

            ul{
                @include flex-column;
                gap: 0.80em;

                li{
                    &.current-cat{
                        a{
                            color: $color__accent;
                        }
                    }
                }
            }

            .widget{
                &.widget_ninja_forms_widget{
                    @media (max-width: 575px){
                        margin-top: 1.8em;
                    }
                }
            } 

            .nf-form-content{
                padding: 0;
            }

            nf-fields-wrap{
                position: relative;

                .submit-container{
                    position: absolute;
                    top: 0;
                    right: 0;

                    .nf-field-element{
                        position: relative;
                        
                        &::before{
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            width: 0.90px;
                            height: 18px;
                            background-color: $color__border-abbr;
                        }

                        input{
                            color: $color__accent;
                            background-color: inherit;
                        }
                    }

                   
                }
               
            }

            .nf-form-wrap {
                height: 54px;
            }

            .nf-field-container {
                .nf-field-label{
                    display: none;
                    @media (max-width: 575px){
                        width: auto;
                    }
                }
            } 

            nf-errors{
                .nf-error-field-errors{
                    display: none;
                }
            }

            .nf-response-msg{
                p{
                    color: $color__success;
                }
            }

            span{
                &.nf-form-title{
                    h3{
                        color: $color__white;
                    }
                }
            }
        }

        .footer-copyright{
            @include flex-center;
            text-transform: capitalize;
            border-top: 1px solid rgba(255,255,255, 0.2);
            padding: 0.60em 0 0 0;
            
            gap: 0.2em;

            span{
                font-weight: 300;
            }

            a{
                &:hover{
                    color: $color__accent;
                }
            }

            .social-icons{
                @include flex-center;
                gap: 1em;
            }
        }
    }
}