footer{
    &.footer-main{
        width: 100%;
        padding: 2.8em 0 1.2em 0;
        color: $color__white;
        background-color: $color__dark;

        .footer-content{
            padding: 2em 0;
            border-bottom: 1px solid rgb(77, 62, 59);

            a{
                color: $color__white;

                &:hover{
                    color: $color__accent;
                }
            }

            p{
                color: $color__accent;
                padding-top: 0.8em;
            }

            p,a, span, i{
                &:hover{
                    opacity: 100%;
                }
            }

            ul{
                @include flex-column;
                gap: 0.80em;

                li{
                    &.current-cat{
                        a{
                            color: $color__accent;
                        }
                    }
                }
            }

            h2.widget-title{
                color: $color__white;
            }
        }

        .footer-copyright{
            color: $color__white;
            @include flex-center;
            text-transform: capitalize;
            padding: 2em 0;

            span{
                font-weight: 300;
            }

            a{
                &:hover{
                    color: $color__accent;
                }
            }

            .social-icons{
                @include flex-center;
                gap: 1em;
            }
        }
    }

    ul,ol{
        list-style-type: none;
    }

}