#wpcontent {
    padding-left: 0;
}
#adminmenu .wp-menu-image img {
    max-width: 18px;
    opacity: 100%;
}
.custom-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.custom-cards-container .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.custom-cards-container .card h2 {
    margin-top: 0;
}