header.header-main{
    width: 100%;
    padding: 1em;
    background-color: $color__dark;
    z-index: 999;
    transition: 0.3s all;

    .site-title{
        font-size: 2em;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;

        a{
            color: $color__white;
        }
    }

    ul, ol{
        list-style-type: none;
    }

    nav{

        ul{
            li{

                a {
                    &.nav-link {
                        color: $color__white;
                        transition: 0.3s ease;
                    
                        &:hover, &:focus{
                            color: $color__accent !important;
                        }

                        &:disabled{
                            opacity: 0.9;
                        }

                        &.dropdown-toggle {
                            &::after {
                                margin-left: 0.40em;
                            }
                        }

                        &.active {
                            font-weight: 500;
                            color: $color__accent;
                        }
                    }
                }

                ul.dropdown-menu{
                    margin-top: 1.438em !important;
                    border-radius: 0 !important;
                    li {
                        a{
                            text-align: left;
                            &.active{
                                color: $color__white;
                                background-color: $color__accent;
                            }
                        }
                    }
                }

            }
        }

        i, svg, span, 
        .fa-shopping-cart{
            font-size: 1.25em;
            color: $color__black;
        }
    }

    .buy-button{
        padding: 0.625em 1.25em;
        color: $color__white;
        background: $color__gradient;
    }

    .woo-cart-count{
        width: 14px;
        height: 14px;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        left: 4px !important;
        color: $color__white;
        background: $color__accent;
    }
}