.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.single-post-navigation-wrapper{
	@include flex-between;
	gap: 1em;

	@media(max-width: 576px){
		flex-wrap: wrap;
	}

	&.stikcy-element{
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		padding: 2em;
		background-color: $color__white;
		z-index: 99;
	}
}

nav {
	&.navigation {
		&.pagination {
			justify-content: center;
			.nav-links{
				padding: 0.96em 1.2em;
				border-radius: 50px;
				margin: 0 auto;
				background: $color__white;
				@include flex-center;
				gap: 1.2em;

				.page-numbers{
					&.current{
						width: 30px;
						height: 30px;
						border-radius: 50px;
						@include flex-center;
						color: $color__white;
						background-color: $color__accent;
					}
				} 

				.fa-arrow-right{
					transform: rotate(320deg);
				}

				.fa-arrow-left{
					transform: rotate(45deg);
				}
			}
		}
	}

	&.previous-post,
	&.next-post{
		.content{
			width: 100%;
			height: 100%;
			padding: 1em;
			background-color: $color__white;

			a{
				color: $color__black !important;
			}
		}
		.next-post-image,
		.prevoius-post-image{
			img{
				max-width: 60px;
				height: auto;
				border-radius: 0;
			}
		}

		a{
			&.link{
				font-family: 'Cormorant';
				font-weight: 600;
				font-size: 0.98em;
			}
		}
	}
}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
		margin-top: 2em;
	}

	.nav-previous {
		flex: 1 0 50%;
		text-align: center;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
