button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-search__button {
	border: 1px solid;
	line-height: normal;
	font-weight: 600;
	color: $color__white;
	border-color: $color__border-button;
	border-radius: 0;
	background: $color__background-button;
	transition: 0.3s ease-in;

	&:hover {
		color: $color__black;
		background: $color__white;
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.btn {
	&.btn-read-more-arrow {
		width: 34px;
		height: 34px;
		border-radius: 3.125em;
		border-color: $color__black;
		background-color: $color__black;
		transition: 800ms ease-in-out color;

		&:hover{
			border-color: $color__danger;
			background-color: $color__danger;
		}

		i{
			color: $color__white;
			transform: rotate(320deg);
			transition: 0.3s ease;
			font-size: 14px;
		}

		@include flex-center;
	}
}