button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-search__button {
	border: 1px solid;
	line-height: normal;
	font-weight: 600;
	color: $color__white;
	border-color: $color__border-button;
	border-radius: 0;
	background: $color__accent;
	transition: 0.3s ease-in;

	&:hover {
		color: $color__black;
		background: $color__white;
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.btn-close{
	
	&:hover{
		opacity: 100%;
	}
}

.read-time{
	.btn-read-more-arrow {
		font-size: 1em;
		font-weight: 500;
		text-transform: uppercase;
		color: $color__accent;
		@include flex-center;
	}

	i{
		font-size: 1.2em;
		color: $color__accent;
	}
}