input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border-radius: 0.375em;
	padding: 0.375em 0.75em;
	border: 1px solid $color__border-input;
	border-radius: 0;

	&:focus {
		color: $color__text-input-focus;
}
}

label{
	font-family: 'Instrument Sans';
	font-weight: 500;
	font-size: 0.875em;
	margin-bottom: 0.5em;
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

.wp-block-search__label{
	margin-bottom: 0.6em;
}