.widget {
	margin: 0 0 0;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}

    &.widget_text{
        a{
            color: $color__accent !important;
        }
    }
}

.offcanvas{     
    &.main{



        .offcanvas-header{
            border-bottom: 1px solid $color__border-abbr;
            .wp-block-image{
                margin-bottom: 0;
            }
        }

        .offcanvas-footer{
            padding: 1em;
            border-top: 1px solid $color__border-abbr;
        }
    }
}

aside{
    width: 100%;
    height: 100%;
    padding-left: 1em;
	border-left: 1px solid $color__border-abbr;
    @include flex-column;
    gap: 1em;

    &.widget-area{
        position: sticky;
        top: 0;

        ul {

            &.wp-block-categories-list{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
				gap: 0.80em;

                li{
                    &.cat-item{
						padding: 8px 16px;
						border-radius: 50px;
                        background-color: $color__white;

                        a{
                            color: $color__black;
                        }

						#text{
							background-color: $color__danger;
						}
                    }
                }
            }

            li{
                display: flex;
                align-items: start;
                justify-content: start;
                margin-bottom: 1em;
                border-bottom: 1px solid $color__border-abbr;
                padding-bottom: 1em;
                gap: 0.60em;

                span{
                    &.post_count{
                        width: 22px;
                        height: 22px;
                        font-size: 14px;
                        color: $color__white;
                        border-radius: $rounded__full;
                        background: $color__danger;
                        text-align: center;
                    }
                }


                a{
                    &.wp-block-latest-posts__post-title{    
                        color: $color__black;
                    }
                }

                img{
                    border-radius: 4px;
                }
            }
        }

        .widget_tag_cloud{
            p{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 0.80em;
            }

            a{
                &.tag-cloud-link{
                    font-size: 1em !important;
                    color: $color__black;
                    padding: 8px 16px;
                    border-radius: 50px;
                    background-color: $color__white; 
                    @include flex-center;
                    gap: 0.4em;

                    span{
                        &.tags_count{
                            width: 22px;
                            height: 22px;
                            font-size: 14px;
                            color: $color__white;
                            border-radius: $rounded__full;
                            background: $color__danger;
                            text-align: center;
                        }
                    }

                }
                

            }
        }
    }
}

.wp-block-search__inside-wrapper{
    display: flex;
    gap: 0.6em;
}

.offcanvas{
    &.search-wrapper{
        height: 56vh;
    }

    .offcanvas-start {
        transform: translateX(-100%);
    }
    
    .offcanvas.show {
        transform: translateX(0);
    }
    
    .offcanvas-backdrop {
     transition: opacity 0.5s ease-in-out;
    }

      &.search-wrapper, &.main{
        transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out;

      }
}

.search-form-wrapper{
    position: relative;

    form{
        margin-top: 2.5em;

        @media screen and (max-width: $breakpoint-small) {
           margin-top: 1em;
        }

        &.huda-search-form{
            width: 100%;
            text-align: center;

            input{
                width: 29em;
                padding: 0.75em 1.25em;
                border-radius: 3.125em;
                border: 1px solid $color__accent;
                color: $color__accent;

                @media screen and (max-width: $breakpoint-medium) {
                    width: 90%;
                    margin: 0 auto;
                }
            }
        }
    }

    .search-result-wrapper{
        width: 100%;
        position: absolute;
        left: 50%;
        top: 6em;
        transform: translate(-50%, 0%);

        #datafetch{
            width: 96%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            background-color: $color__white;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            border-radius: 1em;

            @media screen and (max-width: $breakpoint-small) {
                flex-wrap: wrap;
            }

            h3{
                margin: 1em 0;
            }

            article{
                margin: 2.4em;

                @media screen and (max-width: $breakpoint-medium) {
                    width: 100%;
                }

                @media screen and (max-width: $breakpoint-small) {
                    width: 100%;
                    margin: 0;
                    margin-top: 0.6em;
                }
            }
        }
    }	
}

body{
	&.search{
		header{
			&.page-header{
				h1{
					&.page-title{
						font-size: 3em;
						text-align: center;
					}
				}
			}
		}

		form{
			&.search-form{
				text-align: center;

				input{
					padding: 12px 28px;
				}
			}
		}
	}
}


.sticky{
    position: sticky;
    top: 0;
}

.relative{
    position: relative;
}

.backto-top{
    position: fixed;
    width: 2.375em;
    height: 2.375em;
    bottom: 1em;
    right: 2em;
    background: $color__accent;
    border-radius: 50px;

    @include flex-center;

    i{
        font-size: 1.25em;
    }
}