
$color__background-body: #F4F4F4;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #0E0127;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;
$color__label: #667085;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: rgba(102, 112, 133, 0.3);

$color__gradient: linear-gradient(92.52deg, #1F5EFF -2.63%, #5081FF 86.95%, #5081FF 95.81%);

$color__black: #0F0E17;
$color__white: #FFFFFE;
$color__danger: #F25F4C;
$color__accent: #5081FF;
$color__yellow: #fde047;