
$color__background-body: #F4F4F4;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #0E0127;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;
$color__label: #667085;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: rgba(102, 112, 133, 0.3);

$color__black: #0F0E17;
$color__white: #FFFFFE;
$color__danger: #F25F4C;

[data-bs-theme=dark]{

    body{
        color: $color__white;
        background: $color__black;


        a{
            color: $color__danger;
        }

        p{
            color: $color__white;
        }

        label {
            cursor: pointer;
            .toggle-wrapper {
                .toggle {
                   
    
                    &::before {
                        content: "\f185";
                        color: $color__black;
                    }
                    
                }
            }
        }

        input, textarea{
            color: $color__black;
            background-color: $color__background-body;
        }
    }
    
}